body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1225px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3991 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3992_img {
  position:absolute;
  left:0px;
  top:0px;
  width:425px;
  height:854px;
}
#u3992 {
  position:absolute;
  left:800px;
  top:199px;
  width:425px;
  height:854px;
}
#u3993 {
  position:absolute;
  left:2px;
  top:419px;
  width:421px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3994_div {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:32px;
  color:#CCCCCC;
}
#u3994 {
  position:absolute;
  left:841px;
  top:151px;
  width:138px;
  height:16px;
  font-size:32px;
  color:#CCCCCC;
}
#u3995 {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  visibility:hidden;
  white-space:nowrap;
}
#u3996_div {
  position:absolute;
  left:0px;
  top:0px;
  width:378px;
  height:686px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3996 {
  position:absolute;
  left:821px;
  top:268px;
  width:378px;
  height:686px;
}
#u3997 {
  position:absolute;
  left:2px;
  top:335px;
  width:374px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3998_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:902px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3998 {
  position:absolute;
  left:822px;
  top:268px;
  width:375px;
  height:902px;
}
#u3999 {
  position:absolute;
  left:2px;
  top:443px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4000_div {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u4000 {
  position:absolute;
  left:929px;
  top:134px;
  width:152px;
  height:33px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u4001 {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  white-space:nowrap;
}
#u4002 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4003_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:326px;
  background:inherit;
  background-color:rgba(101, 101, 101, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#989898;
}
#u4003 {
  position:absolute;
  left:822px;
  top:268px;
  width:375px;
  height:326px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#989898;
}
#u4004 {
  position:absolute;
  left:0px;
  top:292px;
  width:375px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4005_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:47px;
}
#u4005 {
  position:absolute;
  left:846px;
  top:274px;
  width:82px;
  height:46px;
}
#u4006 {
  position:absolute;
  left:2px;
  top:14px;
  width:78px;
  word-wrap:break-word;
}
#u4007_img {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:199px;
}
#u4007 {
  position:absolute;
  left:846px;
  top:345px;
  width:163px;
  height:198px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u4008 {
  position:absolute;
  left:2px;
  top:90px;
  width:159px;
  word-wrap:break-word;
}
#u4009_div {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:85px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u4009 {
  position:absolute;
  left:1017px;
  top:411px;
  width:172px;
  height:85px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u4010 {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  white-space:nowrap;
}
#u4011_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:68px;
}
#u4011 {
  position:absolute;
  left:836px;
  top:604px;
  width:68px;
  height:68px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u4012 {
  position:absolute;
  left:2px;
  top:25px;
  width:64px;
  word-wrap:break-word;
}
#u4013_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u4013 {
  position:absolute;
  left:918px;
  top:626px;
  width:91px;
  height:25px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u4014 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u4015_div {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u4015 {
  position:absolute;
  left:846px;
  top:698px;
  width:199px;
  height:25px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u4016 {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  white-space:nowrap;
}
#u4017_div {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u4017 {
  position:absolute;
  left:846px;
  top:741px;
  width:199px;
  height:25px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u4018 {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  white-space:nowrap;
}
#u4019_div {
  position:absolute;
  left:0px;
  top:0px;
  width:244px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u4019 {
  position:absolute;
  left:846px;
  top:822px;
  width:244px;
  height:25px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u4020 {
  position:absolute;
  left:0px;
  top:0px;
  width:244px;
  white-space:nowrap;
}
#u4021_div {
  position:absolute;
  left:0px;
  top:0px;
  width:254px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u4021 {
  position:absolute;
  left:846px;
  top:860px;
  width:254px;
  height:25px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u4022 {
  position:absolute;
  left:0px;
  top:0px;
  width:254px;
  white-space:nowrap;
}
#u4023_img {
  position:absolute;
  left:0px;
  top:0px;
  width:243px;
  height:150px;
}
#u4023 {
  position:absolute;
  left:888px;
  top:1017px;
  width:242px;
  height:149px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u4024 {
  position:absolute;
  left:2px;
  top:66px;
  width:238px;
  word-wrap:break-word;
}
#u4025_div {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u4025 {
  position:absolute;
  left:883px;
  top:1176px;
  width:253px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u4026 {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  white-space:nowrap;
}
#u4027_div {
  position:absolute;
  left:0px;
  top:0px;
  width:317px;
  height:100px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u4027 {
  position:absolute;
  left:846px;
  top:904px;
  width:317px;
  height:100px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u4028 {
  position:absolute;
  left:0px;
  top:0px;
  width:317px;
  white-space:nowrap;
}
#u4029_div {
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-style:normal;
  color:#FFFFFF;
}
#u4029 {
  position:absolute;
  left:899px;
  top:558px;
  width:215px;
  height:25px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-style:normal;
  color:#FFFFFF;
}
#u4030 {
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  white-space:nowrap;
}
#u4031_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u4031 {
  position:absolute;
  left:846px;
  top:786px;
  width:113px;
  height:25px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u4032 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
