body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1378px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u819 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u820_img {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:709px;
}
#u820 {
  position:absolute;
  left:398px;
  top:100px;
  width:361px;
  height:709px;
}
#u821 {
  position:absolute;
  left:2px;
  top:346px;
  width:357px;
  visibility:hidden;
  word-wrap:break-word;
}
#u822_div {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:570px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u822 {
  position:absolute;
  left:415px;
  top:157px;
  width:321px;
  height:570px;
}
#u823 {
  position:absolute;
  left:2px;
  top:277px;
  width:317px;
  visibility:hidden;
  word-wrap:break-word;
}
#u824_div {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u824 {
  position:absolute;
  left:474px;
  top:57px;
  width:210px;
  height:25px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u825 {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  white-space:nowrap;
}
#u826_div {
  position:absolute;
  left:0px;
  top:0px;
  width:304px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u826 {
  position:absolute;
  left:424px;
  top:651px;
  width:304px;
  height:34px;
}
#u827 {
  position:absolute;
  left:2px;
  top:9px;
  width:300px;
  visibility:hidden;
  word-wrap:break-word;
}
#u828_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:571px;
}
#u828 {
  position:absolute;
  left:415px;
  top:157px;
  width:321px;
  height:571px;
}
#u829 {
  position:absolute;
  left:2px;
  top:278px;
  width:317px;
  visibility:hidden;
  word-wrap:break-word;
}
#u830_div {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:68px;
  background:inherit;
  background-color:rgba(252, 78, 70, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u830 {
  position:absolute;
  left:415px;
  top:217px;
  width:321px;
  height:68px;
}
#u831 {
  position:absolute;
  left:2px;
  top:26px;
  width:317px;
  visibility:hidden;
  word-wrap:break-word;
}
#u832_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:450px;
}
#u832 {
  position:absolute;
  left:416px;
  top:285px;
  width:321px;
  height:450px;
}
#u833 {
  position:absolute;
  left:2px;
  top:217px;
  width:317px;
  visibility:hidden;
  word-wrap:break-word;
}
#u834 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u835_img {
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  height:2px;
}
#u835 {
  position:absolute;
  left:424px;
  top:274px;
  width:304px;
  height:1px;
}
#u836 {
  position:absolute;
  left:2px;
  top:-8px;
  width:300px;
  visibility:hidden;
  word-wrap:break-word;
}
#u837_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:31px;
}
#u837 {
  position:absolute;
  left:431px;
  top:217px;
  width:26px;
  height:31px;
}
#u838 {
  position:absolute;
  left:2px;
  top:8px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u839_div {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u839 {
  position:absolute;
  left:467px;
  top:217px;
  width:141px;
  height:20px;
  color:#FFFFFF;
}
#u840 {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  white-space:nowrap;
}
#u841_div {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u841 {
  position:absolute;
  left:467px;
  top:247px;
  width:114px;
  height:14px;
  font-size:12px;
  color:#FFFFFF;
}
#u842 {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  white-space:nowrap;
}
#u843_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u843 {
  position:absolute;
  left:660px;
  top:233px;
  width:49px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u844 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u845_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:16px;
}
#u845 {
  position:absolute;
  left:719px;
  top:234px;
  width:9px;
  height:16px;
}
#u846 {
  position:absolute;
  left:2px;
  top:0px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u847_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Medium', 'Heiti SC Medium', 'Heiti SC';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FF3399;
}
#u847 {
  position:absolute;
  left:876px;
  top:157px;
  width:73px;
  height:19px;
  font-family:'STHeitiSC-Medium', 'Heiti SC Medium', 'Heiti SC';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FF3399;
}
#u848 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u849_div {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF3399;
  line-height:18px;
}
#u849 {
  position:absolute;
  left:878px;
  top:197px;
  width:500px;
  height:54px;
  color:#FF3399;
  line-height:18px;
}
#u850 {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  word-wrap:break-word;
}
#u851_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:6px;
  height:95px;
}
#u851 {
  position:absolute;
  left:860px;
  top:159px;
  width:3px;
  height:92px;
}
#u852 {
  position:absolute;
  left:2px;
  top:38px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u853_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u853 {
  position:absolute;
  left:804px;
  top:157px;
  width:40px;
  height:40px;
  font-size:16px;
  color:#FF3399;
}
#u854 {
  position:absolute;
  left:2px;
  top:11px;
  width:36px;
  word-wrap:break-word;
}
#u855_div {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Medium', 'Heiti SC Medium', 'Heiti SC';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FF3399;
}
#u855 {
  position:absolute;
  left:883px;
  top:285px;
  width:145px;
  height:19px;
  font-family:'STHeitiSC-Medium', 'Heiti SC Medium', 'Heiti SC';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FF3399;
}
#u856 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u857_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:6px;
  height:20px;
}
#u857 {
  position:absolute;
  left:867px;
  top:287px;
  width:3px;
  height:17px;
}
#u858 {
  position:absolute;
  left:2px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u859_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u859 {
  position:absolute;
  left:811px;
  top:274px;
  width:40px;
  height:40px;
  font-size:16px;
  color:#FF3399;
}
#u860 {
  position:absolute;
  left:2px;
  top:11px;
  width:36px;
  word-wrap:break-word;
}
