body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1446px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3174_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1446px;
  height:1669px;
}
#u3174 {
  position:absolute;
  left:0px;
  top:0px;
  width:1446px;
  height:1669px;
}
#u3175 {
  position:absolute;
  left:2px;
  top:826px;
  width:1442px;
  visibility:hidden;
  word-wrap:break-word;
}
