body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1619px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u729 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u730_img {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:709px;
}
#u730 {
  position:absolute;
  left:400px;
  top:114px;
  width:361px;
  height:709px;
}
#u731 {
  position:absolute;
  left:2px;
  top:346px;
  width:357px;
  visibility:hidden;
  word-wrap:break-word;
}
#u732_div {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:570px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u732 {
  position:absolute;
  left:417px;
  top:171px;
  width:321px;
  height:570px;
}
#u733 {
  position:absolute;
  left:2px;
  top:277px;
  width:317px;
  visibility:hidden;
  word-wrap:break-word;
}
#u734_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u734 {
  position:absolute;
  left:521px;
  top:69px;
  width:120px;
  height:25px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u735 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  white-space:nowrap;
}
#u736_div {
  position:absolute;
  left:0px;
  top:0px;
  width:304px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u736 {
  position:absolute;
  left:426px;
  top:665px;
  width:304px;
  height:34px;
}
#u737 {
  position:absolute;
  left:2px;
  top:9px;
  width:300px;
  visibility:hidden;
  word-wrap:break-word;
}
#u738_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:570px;
}
#u738 {
  position:absolute;
  left:417px;
  top:171px;
  width:320px;
  height:570px;
}
#u739 {
  position:absolute;
  left:2px;
  top:277px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u740_div {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u740 {
  position:absolute;
  left:544px;
  top:428px;
  width:83px;
  height:29px;
  color:#000000;
}
#u741 {
  position:absolute;
  left:2px;
  top:6px;
  width:79px;
  word-wrap:break-word;
}
#u742 {
  position:absolute;
  left:920px;
  top:492px;
  width:704px;
  height:413px;
}
#u743_img {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:40px;
}
#u743 {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u744 {
  position:absolute;
  left:2px;
  top:11px;
  width:195px;
  word-wrap:break-word;
}
#u745_img {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:40px;
}
#u745 {
  position:absolute;
  left:199px;
  top:0px;
  width:270px;
  height:40px;
}
#u746 {
  position:absolute;
  left:2px;
  top:11px;
  width:266px;
  word-wrap:break-word;
}
#u747_img {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:40px;
}
#u747 {
  position:absolute;
  left:469px;
  top:0px;
  width:230px;
  height:40px;
}
#u748 {
  position:absolute;
  left:2px;
  top:11px;
  width:226px;
  word-wrap:break-word;
}
#u749_img {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:40px;
}
#u749 {
  position:absolute;
  left:0px;
  top:40px;
  width:199px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u750 {
  position:absolute;
  left:2px;
  top:11px;
  width:195px;
  word-wrap:break-word;
}
#u751_img {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:40px;
}
#u751 {
  position:absolute;
  left:199px;
  top:40px;
  width:270px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u752 {
  position:absolute;
  left:2px;
  top:11px;
  width:266px;
  word-wrap:break-word;
}
#u753_img {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:40px;
}
#u753 {
  position:absolute;
  left:469px;
  top:40px;
  width:230px;
  height:40px;
}
#u754 {
  position:absolute;
  left:2px;
  top:12px;
  width:226px;
  visibility:hidden;
  word-wrap:break-word;
}
#u755_img {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:40px;
}
#u755 {
  position:absolute;
  left:0px;
  top:80px;
  width:199px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u756 {
  position:absolute;
  left:2px;
  top:11px;
  width:195px;
  word-wrap:break-word;
}
#u757_img {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:40px;
}
#u757 {
  position:absolute;
  left:199px;
  top:80px;
  width:270px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u758 {
  position:absolute;
  left:2px;
  top:11px;
  width:266px;
  word-wrap:break-word;
}
#u759_img {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:40px;
}
#u759 {
  position:absolute;
  left:469px;
  top:80px;
  width:230px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u760 {
  position:absolute;
  left:2px;
  top:2px;
  width:226px;
  word-wrap:break-word;
}
#u761_img {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:40px;
}
#u761 {
  position:absolute;
  left:0px;
  top:120px;
  width:199px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u762 {
  position:absolute;
  left:2px;
  top:11px;
  width:195px;
  word-wrap:break-word;
}
#u763_img {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:40px;
}
#u763 {
  position:absolute;
  left:199px;
  top:120px;
  width:270px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u764 {
  position:absolute;
  left:2px;
  top:11px;
  width:266px;
  word-wrap:break-word;
}
#u765_img {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:40px;
}
#u765 {
  position:absolute;
  left:469px;
  top:120px;
  width:230px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u766 {
  position:absolute;
  left:2px;
  top:2px;
  width:226px;
  word-wrap:break-word;
}
#u767_img {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:43px;
}
#u767 {
  position:absolute;
  left:0px;
  top:160px;
  width:199px;
  height:43px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u768 {
  position:absolute;
  left:2px;
  top:12px;
  width:195px;
  word-wrap:break-word;
}
#u769_img {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:43px;
}
#u769 {
  position:absolute;
  left:199px;
  top:160px;
  width:270px;
  height:43px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u770 {
  position:absolute;
  left:2px;
  top:12px;
  width:266px;
  word-wrap:break-word;
}
#u771_img {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:43px;
}
#u771 {
  position:absolute;
  left:469px;
  top:160px;
  width:230px;
  height:43px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u772 {
  position:absolute;
  left:2px;
  top:4px;
  width:226px;
  word-wrap:break-word;
}
#u773_img {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:40px;
}
#u773 {
  position:absolute;
  left:0px;
  top:203px;
  width:199px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u774 {
  position:absolute;
  left:2px;
  top:11px;
  width:195px;
  word-wrap:break-word;
}
#u775_img {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:40px;
}
#u775 {
  position:absolute;
  left:199px;
  top:203px;
  width:270px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u776 {
  position:absolute;
  left:2px;
  top:11px;
  width:266px;
  word-wrap:break-word;
}
#u777_img {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:40px;
}
#u777 {
  position:absolute;
  left:469px;
  top:203px;
  width:230px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u778 {
  position:absolute;
  left:2px;
  top:2px;
  width:226px;
  word-wrap:break-word;
}
#u779_img {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:40px;
}
#u779 {
  position:absolute;
  left:0px;
  top:243px;
  width:199px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u780 {
  position:absolute;
  left:2px;
  top:11px;
  width:195px;
  word-wrap:break-word;
}
#u781_img {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:40px;
}
#u781 {
  position:absolute;
  left:199px;
  top:243px;
  width:270px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u782 {
  position:absolute;
  left:2px;
  top:11px;
  width:266px;
  word-wrap:break-word;
}
#u783_img {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:40px;
}
#u783 {
  position:absolute;
  left:469px;
  top:243px;
  width:230px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u784 {
  position:absolute;
  left:2px;
  top:2px;
  width:226px;
  word-wrap:break-word;
}
#u785_img {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:40px;
}
#u785 {
  position:absolute;
  left:0px;
  top:283px;
  width:199px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u786 {
  position:absolute;
  left:2px;
  top:11px;
  width:195px;
  word-wrap:break-word;
}
#u787_img {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:40px;
}
#u787 {
  position:absolute;
  left:199px;
  top:283px;
  width:270px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u788 {
  position:absolute;
  left:2px;
  top:11px;
  width:266px;
  word-wrap:break-word;
}
#u789_img {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:40px;
}
#u789 {
  position:absolute;
  left:469px;
  top:283px;
  width:230px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u790 {
  position:absolute;
  left:2px;
  top:2px;
  width:226px;
  word-wrap:break-word;
}
#u791_img {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:40px;
}
#u791 {
  position:absolute;
  left:0px;
  top:323px;
  width:199px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u792 {
  position:absolute;
  left:2px;
  top:11px;
  width:195px;
  word-wrap:break-word;
}
#u793_img {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:40px;
}
#u793 {
  position:absolute;
  left:199px;
  top:323px;
  width:270px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u794 {
  position:absolute;
  left:2px;
  top:11px;
  width:266px;
  word-wrap:break-word;
}
#u795_img {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:40px;
}
#u795 {
  position:absolute;
  left:469px;
  top:323px;
  width:230px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u796 {
  position:absolute;
  left:2px;
  top:2px;
  width:226px;
  word-wrap:break-word;
}
#u797_img {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:45px;
}
#u797 {
  position:absolute;
  left:0px;
  top:363px;
  width:199px;
  height:45px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u798 {
  position:absolute;
  left:2px;
  top:14px;
  width:195px;
  word-wrap:break-word;
}
#u799_img {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:45px;
}
#u799 {
  position:absolute;
  left:199px;
  top:363px;
  width:270px;
  height:45px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u800 {
  position:absolute;
  left:2px;
  top:14px;
  width:266px;
  word-wrap:break-word;
}
#u801_img {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:45px;
}
#u801 {
  position:absolute;
  left:469px;
  top:363px;
  width:230px;
  height:45px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u802 {
  position:absolute;
  left:2px;
  top:4px;
  width:226px;
  word-wrap:break-word;
}
#u803_div {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u803 {
  position:absolute;
  left:637px;
  top:428px;
  width:83px;
  height:29px;
  color:#000000;
}
#u804 {
  position:absolute;
  left:2px;
  top:6px;
  width:79px;
  word-wrap:break-word;
}
#u805_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Medium', 'Heiti SC Medium', 'Heiti SC';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FF3399;
}
#u805 {
  position:absolute;
  left:936px;
  top:116px;
  width:73px;
  height:19px;
  font-family:'STHeitiSC-Medium', 'Heiti SC Medium', 'Heiti SC';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FF3399;
}
#u806 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u807_div {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF3399;
  line-height:18px;
}
#u807 {
  position:absolute;
  left:938px;
  top:156px;
  width:500px;
  height:36px;
  color:#FF3399;
  line-height:18px;
}
#u808 {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  word-wrap:break-word;
}
#u809_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:6px;
  height:95px;
}
#u809 {
  position:absolute;
  left:920px;
  top:118px;
  width:3px;
  height:92px;
}
#u810 {
  position:absolute;
  left:2px;
  top:38px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u811_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u811 {
  position:absolute;
  left:864px;
  top:116px;
  width:40px;
  height:40px;
  font-size:16px;
  color:#FF3399;
}
#u812 {
  position:absolute;
  left:2px;
  top:11px;
  width:36px;
  word-wrap:break-word;
}
#u813_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Medium', 'Heiti SC Medium', 'Heiti SC';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FF3399;
}
#u813 {
  position:absolute;
  left:936px;
  top:241px;
  width:73px;
  height:19px;
  font-family:'STHeitiSC-Medium', 'Heiti SC Medium', 'Heiti SC';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FF3399;
}
#u814 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u815_div {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:90px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF3399;
  line-height:18px;
}
#u815 {
  position:absolute;
  left:938px;
  top:281px;
  width:500px;
  height:90px;
  color:#FF3399;
  line-height:18px;
}
#u816 {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  word-wrap:break-word;
}
#u817_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:6px;
  height:95px;
}
#u817 {
  position:absolute;
  left:920px;
  top:243px;
  width:3px;
  height:92px;
}
#u818 {
  position:absolute;
  left:2px;
  top:38px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u819_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u819 {
  position:absolute;
  left:864px;
  top:241px;
  width:40px;
  height:40px;
  font-size:16px;
  color:#FF3399;
}
#u820 {
  position:absolute;
  left:2px;
  top:11px;
  width:36px;
  word-wrap:break-word;
}
#u821_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u821 {
  position:absolute;
  left:1114px;
  top:381px;
  width:73px;
  height:29px;
  color:#000000;
}
#u822 {
  position:absolute;
  left:2px;
  top:6px;
  width:69px;
  word-wrap:break-word;
}
#u823_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u823 {
  position:absolute;
  left:1196px;
  top:381px;
  width:73px;
  height:29px;
  color:#000000;
}
#u824 {
  position:absolute;
  left:2px;
  top:6px;
  width:69px;
  word-wrap:break-word;
}
#u825_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u825 {
  position:absolute;
  left:949px;
  top:381px;
  width:73px;
  height:29px;
  color:#000000;
}
#u826 {
  position:absolute;
  left:2px;
  top:6px;
  width:69px;
  word-wrap:break-word;
}
#u827_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u827 {
  position:absolute;
  left:1031px;
  top:381px;
  width:73px;
  height:29px;
  color:#000000;
}
#u828 {
  position:absolute;
  left:2px;
  top:6px;
  width:69px;
  word-wrap:break-word;
}
#u829_div {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Medium', 'Heiti SC Medium', 'Heiti SC';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FF3399;
}
#u829 {
  position:absolute;
  left:936px;
  top:439px;
  width:163px;
  height:19px;
  font-family:'STHeitiSC-Medium', 'Heiti SC Medium', 'Heiti SC';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FF3399;
}
#u830 {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  white-space:nowrap;
}
#u831_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:6px;
  height:20px;
}
#u831 {
  position:absolute;
  left:920px;
  top:441px;
  width:3px;
  height:17px;
}
#u832 {
  position:absolute;
  left:2px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u833_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u833 {
  position:absolute;
  left:864px;
  top:428px;
  width:40px;
  height:40px;
  font-size:16px;
  color:#FF3399;
}
#u834 {
  position:absolute;
  left:2px;
  top:11px;
  width:36px;
  word-wrap:break-word;
}
