body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1619px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3810 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3811_img {
  position:absolute;
  left:0px;
  top:0px;
  width:425px;
  height:854px;
}
#u3811 {
  position:absolute;
  left:800px;
  top:202px;
  width:425px;
  height:854px;
}
#u3812 {
  position:absolute;
  left:2px;
  top:419px;
  width:421px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3813_div {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:32px;
  color:#CCCCCC;
}
#u3813 {
  position:absolute;
  left:841px;
  top:154px;
  width:138px;
  height:16px;
  font-size:32px;
  color:#CCCCCC;
}
#u3814 {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  visibility:hidden;
  white-space:nowrap;
}
#u3815_div {
  position:absolute;
  left:0px;
  top:0px;
  width:378px;
  height:686px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3815 {
  position:absolute;
  left:821px;
  top:270px;
  width:378px;
  height:686px;
}
#u3816 {
  position:absolute;
  left:2px;
  top:335px;
  width:374px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3817_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:684px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3817 {
  position:absolute;
  left:822px;
  top:270px;
  width:375px;
  height:684px;
}
#u3818 {
  position:absolute;
  left:2px;
  top:334px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3819 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3820_img {
  position:absolute;
  left:0px;
  top:0px;
  width:378px;
  height:58px;
}
#u3820 {
  position:absolute;
  left:819px;
  top:270px;
  width:378px;
  height:58px;
}
#u3821 {
  position:absolute;
  left:2px;
  top:21px;
  width:374px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3822_div {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u3822 {
  position:absolute;
  left:958px;
  top:290px;
  width:123px;
  height:28px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u3823 {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  word-wrap:break-word;
}
#u3824_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u3824 {
  position:absolute;
  left:827px;
  top:296px;
  width:22px;
  height:22px;
}
#u3825 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3826_div {
  position:absolute;
  left:0px;
  top:0px;
  width:378px;
  height:10px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3826 {
  position:absolute;
  left:819px;
  top:270px;
  width:378px;
  height:10px;
}
#u3827 {
  position:absolute;
  left:2px;
  top:-3px;
  width:374px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3828_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:628px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3828 {
  position:absolute;
  left:822px;
  top:328px;
  width:375px;
  height:628px;
}
#u3829 {
  position:absolute;
  left:2px;
  top:306px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3830_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u3830 {
  position:absolute;
  left:960px;
  top:137px;
  width:97px;
  height:33px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u3831 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u3832 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3833_div {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:14px;
}
#u3833 {
  position:absolute;
  left:993px;
  top:339px;
  width:141px;
  height:20px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:14px;
}
#u3834 {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  white-space:nowrap;
}
#u3835_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:86px;
}
#u3835 {
  position:absolute;
  left:834px;
  top:339px;
  width:149px;
  height:85px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3836 {
  position:absolute;
  left:2px;
  top:34px;
  width:145px;
  word-wrap:break-word;
}
#u3837_div {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:14px;
}
#u3837 {
  position:absolute;
  left:993px;
  top:374px;
  width:87px;
  height:20px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:14px;
}
#u3838 {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  white-space:nowrap;
}
#u3839_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:14px;
}
#u3839 {
  position:absolute;
  left:1132px;
  top:374px;
  width:53px;
  height:20px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:14px;
}
#u3840 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u3841_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:14px;
}
#u3841 {
  position:absolute;
  left:993px;
  top:404px;
  width:57px;
  height:20px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:14px;
}
#u3842 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u3843_div {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:14px;
}
#u3843 {
  position:absolute;
  left:1076px;
  top:405px;
  width:114px;
  height:20px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:14px;
}
#u3844 {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  white-space:nowrap;
}
#u3845_img {
  position:absolute;
  left:0px;
  top:0px;
  width:364px;
  height:2px;
}
#u3845 {
  position:absolute;
  left:834px;
  top:435px;
  width:363px;
  height:1px;
}
#u3846 {
  position:absolute;
  left:2px;
  top:-8px;
  width:359px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3847_div {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:14px;
}
#u3847 {
  position:absolute;
  left:993px;
  top:446px;
  width:141px;
  height:20px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:14px;
}
#u3848 {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  white-space:nowrap;
}
#u3849_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:86px;
}
#u3849 {
  position:absolute;
  left:834px;
  top:446px;
  width:149px;
  height:85px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3850 {
  position:absolute;
  left:2px;
  top:34px;
  width:145px;
  word-wrap:break-word;
}
#u3851_div {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:14px;
}
#u3851 {
  position:absolute;
  left:993px;
  top:481px;
  width:87px;
  height:20px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:14px;
}
#u3852 {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  white-space:nowrap;
}
#u3853_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:14px;
}
#u3853 {
  position:absolute;
  left:1132px;
  top:481px;
  width:53px;
  height:20px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:14px;
}
#u3854 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u3855_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:14px;
}
#u3855 {
  position:absolute;
  left:993px;
  top:511px;
  width:57px;
  height:20px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:14px;
}
#u3856 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u3857_div {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:14px;
}
#u3857 {
  position:absolute;
  left:1076px;
  top:512px;
  width:114px;
  height:20px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:14px;
}
#u3858 {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  white-space:nowrap;
}
#u3859_img {
  position:absolute;
  left:0px;
  top:0px;
  width:364px;
  height:2px;
}
#u3859 {
  position:absolute;
  left:840px;
  top:541px;
  width:363px;
  height:1px;
}
#u3860 {
  position:absolute;
  left:2px;
  top:-8px;
  width:359px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3861_div {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:14px;
}
#u3861 {
  position:absolute;
  left:993px;
  top:552px;
  width:141px;
  height:20px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:14px;
}
#u3862 {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  white-space:nowrap;
}
#u3863_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:86px;
}
#u3863 {
  position:absolute;
  left:834px;
  top:552px;
  width:149px;
  height:85px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3864 {
  position:absolute;
  left:2px;
  top:34px;
  width:145px;
  word-wrap:break-word;
}
#u3865_div {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:14px;
}
#u3865 {
  position:absolute;
  left:993px;
  top:587px;
  width:87px;
  height:20px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:14px;
}
#u3866 {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  white-space:nowrap;
}
#u3867_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:14px;
}
#u3867 {
  position:absolute;
  left:1132px;
  top:587px;
  width:53px;
  height:20px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:14px;
}
#u3868 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u3869_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:14px;
}
#u3869 {
  position:absolute;
  left:993px;
  top:617px;
  width:57px;
  height:20px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:14px;
}
#u3870 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u3871_div {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:14px;
}
#u3871 {
  position:absolute;
  left:1076px;
  top:618px;
  width:114px;
  height:20px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:14px;
}
#u3872 {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  white-space:nowrap;
}
#u3873_img {
  position:absolute;
  left:0px;
  top:0px;
  width:364px;
  height:2px;
}
#u3873 {
  position:absolute;
  left:834px;
  top:648px;
  width:363px;
  height:1px;
}
#u3874 {
  position:absolute;
  left:2px;
  top:-8px;
  width:359px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3875_div {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:14px;
}
#u3875 {
  position:absolute;
  left:993px;
  top:659px;
  width:141px;
  height:20px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:14px;
}
#u3876 {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  white-space:nowrap;
}
#u3877_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:86px;
}
#u3877 {
  position:absolute;
  left:834px;
  top:659px;
  width:149px;
  height:85px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3878 {
  position:absolute;
  left:2px;
  top:34px;
  width:145px;
  word-wrap:break-word;
}
#u3879_div {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:14px;
}
#u3879 {
  position:absolute;
  left:993px;
  top:694px;
  width:87px;
  height:20px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:14px;
}
#u3880 {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  white-space:nowrap;
}
#u3881_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:14px;
}
#u3881 {
  position:absolute;
  left:1132px;
  top:694px;
  width:53px;
  height:20px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:14px;
}
#u3882 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u3883_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:14px;
}
#u3883 {
  position:absolute;
  left:993px;
  top:724px;
  width:57px;
  height:20px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:14px;
}
#u3884 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u3885_div {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:14px;
}
#u3885 {
  position:absolute;
  left:1076px;
  top:725px;
  width:114px;
  height:20px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:14px;
}
#u3886 {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  white-space:nowrap;
}
#u3887_img {
  position:absolute;
  left:0px;
  top:0px;
  width:364px;
  height:2px;
}
#u3887 {
  position:absolute;
  left:834px;
  top:755px;
  width:363px;
  height:1px;
}
#u3888 {
  position:absolute;
  left:2px;
  top:-8px;
  width:359px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3889_div {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3889 {
  position:absolute;
  left:834px;
  top:446px;
  width:52px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3890 {
  position:absolute;
  left:2px;
  top:1px;
  width:48px;
  word-wrap:break-word;
}
#u3891_div {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:19px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3891 {
  position:absolute;
  left:834px;
  top:339px;
  width:52px;
  height:19px;
}
#u3892 {
  position:absolute;
  left:2px;
  top:0px;
  width:48px;
  word-wrap:break-word;
}
#u3893_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u3893 {
  position:absolute;
  left:1290px;
  top:290px;
  width:30px;
  height:30px;
}
#u3894 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3895_div {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u3895 {
  position:absolute;
  left:1330px;
  top:292px;
  width:109px;
  height:25px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u3896 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u3897_div {
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u3897 {
  position:absolute;
  left:1330px;
  top:327px;
  width:289px;
  height:44px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u3898 {
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  white-space:nowrap;
}
#u3899_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u3899 {
  position:absolute;
  left:1290px;
  top:394px;
  width:30px;
  height:30px;
}
#u3900 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3901_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u3901 {
  position:absolute;
  left:1330px;
  top:396px;
  width:37px;
  height:25px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u3902 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u3903_div {
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u3903 {
  position:absolute;
  left:1330px;
  top:442px;
  width:289px;
  height:44px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u3904 {
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  white-space:nowrap;
}
#u3905_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u3905 {
  position:absolute;
  left:1290px;
  top:516px;
  width:30px;
  height:30px;
}
#u3906 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3907_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u3907 {
  position:absolute;
  left:1330px;
  top:518px;
  width:37px;
  height:25px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u3908 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u3909_div {
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u3909 {
  position:absolute;
  left:1330px;
  top:564px;
  width:209px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u3910 {
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  white-space:nowrap;
}
