body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:759px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1983 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1984_img {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:709px;
}
#u1984 {
  position:absolute;
  left:398px;
  top:97px;
  width:361px;
  height:709px;
}
#u1985 {
  position:absolute;
  left:2px;
  top:346px;
  width:357px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1986_div {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:570px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1986 {
  position:absolute;
  left:415px;
  top:154px;
  width:321px;
  height:570px;
}
#u1987 {
  position:absolute;
  left:2px;
  top:277px;
  width:317px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1988 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1989_div {
  position:absolute;
  left:0px;
  top:0px;
  width:304px;
  height:140px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:18px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1989 {
  position:absolute;
  left:427px;
  top:547px;
  width:304px;
  height:140px;
}
#u1990 {
  position:absolute;
  left:2px;
  top:62px;
  width:300px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1991_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:45px;
}
#u1991 {
  position:absolute;
  left:439px;
  top:557px;
  width:55px;
  height:44px;
}
#u1992 {
  position:absolute;
  left:2px;
  top:14px;
  width:51px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1993_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1993 {
  position:absolute;
  left:513px;
  top:557px;
  width:57px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1994 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1995_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:8px;
}
#u1995 {
  position:absolute;
  left:513px;
  top:587px;
  width:50px;
  height:14px;
  font-size:8px;
}
#u1996 {
  position:absolute;
  left:2px;
  top:2px;
  width:46px;
  word-wrap:break-word;
}
#u1997_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:8px;
}
#u1997 {
  position:absolute;
  left:573px;
  top:587px;
  width:50px;
  height:14px;
  font-size:8px;
}
#u1998 {
  position:absolute;
  left:2px;
  top:2px;
  width:46px;
  word-wrap:break-word;
}
#u1999_div {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:11px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:8px;
}
#u1999 {
  position:absolute;
  left:701px;
  top:557px;
  width:17px;
  height:11px;
  font-size:8px;
}
#u2000 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  white-space:nowrap;
}
#u2001_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2001 {
  position:absolute;
  left:460px;
  top:620px;
  width:27px;
  height:21px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2002 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u2003_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
}
#u2003 {
  position:absolute;
  left:453px;
  top:645px;
  width:41px;
  height:14px;
  font-size:10px;
}
#u2004 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u2005_div {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2005 {
  position:absolute;
  left:562px;
  top:620px;
  width:47px;
  height:25px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2006 {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  white-space:nowrap;
}
#u2007_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
}
#u2007 {
  position:absolute;
  left:565px;
  top:645px;
  width:41px;
  height:14px;
  font-size:10px;
}
#u2008 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u2009_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2009 {
  position:absolute;
  left:675px;
  top:620px;
  width:27px;
  height:21px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2010 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u2011_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
}
#u2011 {
  position:absolute;
  left:668px;
  top:645px;
  width:41px;
  height:14px;
  font-size:10px;
}
#u2012 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u2013_div {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:6px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:12px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2013 {
  position:absolute;
  left:442px;
  top:669px;
  width:253px;
  height:6px;
}
#u2014 {
  position:absolute;
  left:2px;
  top:-5px;
  width:249px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2015_div {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:11px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
}
#u2015 {
  position:absolute;
  left:705px;
  top:667px;
  width:16px;
  height:11px;
  font-size:10px;
}
#u2016 {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  white-space:nowrap;
}
#u2017_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u2017 {
  position:absolute;
  left:543px;
  top:54px;
  width:73px;
  height:25px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u2018 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u2019 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2020_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:55px;
}
#u2020 {
  position:absolute;
  left:415px;
  top:152px;
  width:321px;
  height:55px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u2021 {
  position:absolute;
  left:0px;
  top:30px;
  width:321px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2022_img {
  position:absolute;
  left:0px;
  top:0px;
  width:312px;
  height:12px;
}
#u2022 {
  position:absolute;
  left:420px;
  top:155px;
  width:312px;
  height:12px;
}
#u2023 {
  position:absolute;
  left:2px;
  top:-2px;
  width:308px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2024 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2025_div {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:150px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u2025 {
  position:absolute;
  left:427px;
  top:174px;
  width:54px;
  height:24px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u2026 {
  position:absolute;
  left:2px;
  top:4px;
  width:50px;
  word-wrap:break-word;
}
#u2027_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u2027 {
  position:absolute;
  left:493px;
  top:178px;
  width:25px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u2028 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u2029_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:17px;
}
#u2029 {
  position:absolute;
  left:710px;
  top:178px;
  width:16px;
  height:17px;
}
#u2030 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2031_div {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u2031 {
  position:absolute;
  left:529px;
  top:178px;
  width:94px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u2032 {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  white-space:nowrap;
}
#u2033_div {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u2033 {
  position:absolute;
  left:626px;
  top:178px;
  width:78px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u2034 {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  white-space:nowrap;
}
#u2035 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2036_div {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(216, 216, 216, 1);
  border-left:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2036 {
  position:absolute;
  left:415px;
  top:676px;
  width:321px;
  height:48px;
}
#u2037 {
  position:absolute;
  left:2px;
  top:16px;
  width:317px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2038 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2039 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2040_div {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftTaiLe', 'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#BCBCBC;
  text-align:center;
}
#u2040 {
  position:absolute;
  left:429px;
  top:706px;
  width:21px;
  height:14px;
  font-family:'MicrosoftTaiLe', 'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#BCBCBC;
  text-align:center;
}
#u2041 {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  white-space:nowrap;
}
#u2042_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u2042 {
  position:absolute;
  left:428px;
  top:682px;
  width:24px;
  height:24px;
  font-size:10px;
}
#u2043 {
  position:absolute;
  left:2px;
  top:6px;
  width:20px;
  word-wrap:break-word;
}
#u2044 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2045 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2046_div {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftTaiLe', 'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#989898;
  text-align:center;
}
#u2046 {
  position:absolute;
  left:608px;
  top:706px;
  width:21px;
  height:14px;
  font-family:'MicrosoftTaiLe', 'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#989898;
  text-align:center;
}
#u2047 {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  white-space:nowrap;
}
#u2048_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u2048 {
  position:absolute;
  left:607px;
  top:682px;
  width:24px;
  height:24px;
  font-size:10px;
}
#u2049 {
  position:absolute;
  left:2px;
  top:6px;
  width:20px;
  word-wrap:break-word;
}
#u2050 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2051 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2052_div {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftTaiLe', 'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#0099FF;
  text-align:center;
}
#u2052 {
  position:absolute;
  left:518px;
  top:706px;
  width:21px;
  height:14px;
  font-family:'MicrosoftTaiLe', 'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#0099FF;
  text-align:center;
}
#u2053 {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  white-space:nowrap;
}
#u2054_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u2054 {
  position:absolute;
  left:517px;
  top:682px;
  width:24px;
  height:24px;
  font-size:10px;
}
#u2055 {
  position:absolute;
  left:2px;
  top:6px;
  width:20px;
  word-wrap:break-word;
}
#u2056 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2057 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2058_div {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#989898;
  text-align:center;
}
#u2058 {
  position:absolute;
  left:699px;
  top:706px;
  width:21px;
  height:14px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#989898;
  text-align:center;
}
#u2059 {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  white-space:nowrap;
}
#u2060_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u2060 {
  position:absolute;
  left:696px;
  top:682px;
  width:24px;
  height:24px;
  font-size:10px;
}
#u2061 {
  position:absolute;
  left:2px;
  top:6px;
  width:20px;
  word-wrap:break-word;
}
#u2062_div {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2062 {
  position:absolute;
  left:415px;
  top:205px;
  width:321px;
  height:36px;
}
#u2063 {
  position:absolute;
  left:2px;
  top:10px;
  width:317px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2064_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FE4946;
}
#u2064 {
  position:absolute;
  left:435px;
  top:213px;
  width:29px;
  height:20px;
  color:#FE4946;
}
#u2065 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u2066_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u2066 {
  position:absolute;
  left:489px;
  top:213px;
  width:71px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u2067 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u2068_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u2068 {
  position:absolute;
  left:586px;
  top:213px;
  width:71px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u2069 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u2070_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:21px;
}
#u2070 {
  position:absolute;
  left:478px;
  top:213px;
  width:1px;
  height:20px;
}
#u2071 {
  position:absolute;
  left:2px;
  top:2px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2072 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2073_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u2073 {
  position:absolute;
  left:682px;
  top:213px;
  width:29px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u2074 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u2075_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:12px;
}
#u2075 {
  position:absolute;
  left:714px;
  top:217px;
  width:14px;
  height:12px;
}
#u2076 {
  position:absolute;
  left:2px;
  top:-2px;
  width:10px;
  word-wrap:break-word;
}
#u2077_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:21px;
}
#u2077 {
  position:absolute;
  left:575px;
  top:213px;
  width:1px;
  height:20px;
}
#u2078 {
  position:absolute;
  left:2px;
  top:2px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2079_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:21px;
}
#u2079 {
  position:absolute;
  left:667px;
  top:213px;
  width:1px;
  height:20px;
}
#u2080 {
  position:absolute;
  left:2px;
  top:2px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2081 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2082_div {
  position:absolute;
  left:0px;
  top:0px;
  width:304px;
  height:140px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:18px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2082 {
  position:absolute;
  left:423px;
  top:249px;
  width:304px;
  height:140px;
}
#u2083 {
  position:absolute;
  left:2px;
  top:62px;
  width:300px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2084_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:45px;
}
#u2084 {
  position:absolute;
  left:435px;
  top:259px;
  width:55px;
  height:44px;
}
#u2085 {
  position:absolute;
  left:2px;
  top:14px;
  width:51px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2086_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2086 {
  position:absolute;
  left:509px;
  top:259px;
  width:57px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2087 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u2088_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:8px;
}
#u2088 {
  position:absolute;
  left:509px;
  top:289px;
  width:50px;
  height:14px;
  font-size:8px;
}
#u2089 {
  position:absolute;
  left:2px;
  top:2px;
  width:46px;
  word-wrap:break-word;
}
#u2090_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:8px;
}
#u2090 {
  position:absolute;
  left:569px;
  top:289px;
  width:50px;
  height:14px;
  font-size:8px;
}
#u2091 {
  position:absolute;
  left:2px;
  top:2px;
  width:46px;
  word-wrap:break-word;
}
#u2092_div {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:11px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:8px;
}
#u2092 {
  position:absolute;
  left:697px;
  top:259px;
  width:17px;
  height:11px;
  font-size:8px;
}
#u2093 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  white-space:nowrap;
}
#u2094_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2094 {
  position:absolute;
  left:456px;
  top:322px;
  width:27px;
  height:21px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2095 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u2096_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
}
#u2096 {
  position:absolute;
  left:449px;
  top:347px;
  width:41px;
  height:14px;
  font-size:10px;
}
#u2097 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u2098_div {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2098 {
  position:absolute;
  left:558px;
  top:322px;
  width:47px;
  height:25px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2099 {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  white-space:nowrap;
}
#u2100_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
}
#u2100 {
  position:absolute;
  left:561px;
  top:347px;
  width:41px;
  height:14px;
  font-size:10px;
}
#u2101 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u2102_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2102 {
  position:absolute;
  left:671px;
  top:322px;
  width:27px;
  height:21px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2103 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u2104_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
}
#u2104 {
  position:absolute;
  left:664px;
  top:347px;
  width:41px;
  height:14px;
  font-size:10px;
}
#u2105 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u2106_div {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:6px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:12px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2106 {
  position:absolute;
  left:438px;
  top:371px;
  width:253px;
  height:6px;
}
#u2107 {
  position:absolute;
  left:2px;
  top:-5px;
  width:249px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2108_div {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:11px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
}
#u2108 {
  position:absolute;
  left:701px;
  top:369px;
  width:16px;
  height:11px;
  font-size:10px;
}
#u2109 {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  white-space:nowrap;
}
#u2110 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2111_div {
  position:absolute;
  left:0px;
  top:0px;
  width:304px;
  height:140px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:18px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2111 {
  position:absolute;
  left:425px;
  top:397px;
  width:304px;
  height:140px;
}
#u2112 {
  position:absolute;
  left:2px;
  top:62px;
  width:300px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2113_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:45px;
}
#u2113 {
  position:absolute;
  left:437px;
  top:407px;
  width:55px;
  height:44px;
}
#u2114 {
  position:absolute;
  left:2px;
  top:14px;
  width:51px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2115_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2115 {
  position:absolute;
  left:511px;
  top:407px;
  width:57px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2116 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u2117_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:8px;
}
#u2117 {
  position:absolute;
  left:511px;
  top:437px;
  width:50px;
  height:14px;
  font-size:8px;
}
#u2118 {
  position:absolute;
  left:2px;
  top:2px;
  width:46px;
  word-wrap:break-word;
}
#u2119_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:8px;
}
#u2119 {
  position:absolute;
  left:571px;
  top:437px;
  width:50px;
  height:14px;
  font-size:8px;
}
#u2120 {
  position:absolute;
  left:2px;
  top:2px;
  width:46px;
  word-wrap:break-word;
}
#u2121_div {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:11px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:8px;
}
#u2121 {
  position:absolute;
  left:699px;
  top:407px;
  width:17px;
  height:11px;
  font-size:8px;
}
#u2122 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  white-space:nowrap;
}
#u2123_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2123 {
  position:absolute;
  left:458px;
  top:470px;
  width:27px;
  height:21px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2124 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u2125_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
}
#u2125 {
  position:absolute;
  left:451px;
  top:495px;
  width:41px;
  height:14px;
  font-size:10px;
}
#u2126 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u2127_div {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2127 {
  position:absolute;
  left:560px;
  top:470px;
  width:47px;
  height:25px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2128 {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  white-space:nowrap;
}
#u2129_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
}
#u2129 {
  position:absolute;
  left:563px;
  top:495px;
  width:41px;
  height:14px;
  font-size:10px;
}
#u2130 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u2131_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2131 {
  position:absolute;
  left:673px;
  top:470px;
  width:27px;
  height:21px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2132 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u2133_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
}
#u2133 {
  position:absolute;
  left:666px;
  top:495px;
  width:41px;
  height:14px;
  font-size:10px;
}
#u2134 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u2135_div {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:6px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:12px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2135 {
  position:absolute;
  left:440px;
  top:519px;
  width:253px;
  height:6px;
}
#u2136 {
  position:absolute;
  left:2px;
  top:-5px;
  width:249px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2137_div {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:11px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
}
#u2137 {
  position:absolute;
  left:703px;
  top:517px;
  width:16px;
  height:11px;
  font-size:10px;
}
#u2138 {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  white-space:nowrap;
}
#u2139 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2140_div {
  position:absolute;
  left:0px;
  top:0px;
  width:322px;
  height:572px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2140 {
  position:absolute;
  left:414px;
  top:148px;
  width:322px;
  height:572px;
  opacity:0.6;
}
#u2141 {
  position:absolute;
  left:2px;
  top:278px;
  width:318px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2142_div {
  position:absolute;
  left:0px;
  top:0px;
  width:322px;
  height:507px;
  background:inherit;
  background-color:rgba(244, 244, 249, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(235, 235, 235, 1);
  border-left:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#989898;
}
#u2142 {
  position:absolute;
  left:414px;
  top:213px;
  width:322px;
  height:507px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#989898;
}
#u2143 {
  position:absolute;
  left:18px;
  top:11px;
  width:286px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2144_div {
  position:absolute;
  left:0px;
  top:0px;
  width:322px;
  height:130px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2144 {
  position:absolute;
  left:414px;
  top:213px;
  width:322px;
  height:130px;
}
#u2145 {
  position:absolute;
  left:2px;
  top:57px;
  width:318px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2146_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:27px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
}
#u2146 {
  position:absolute;
  left:428px;
  top:259px;
  width:81px;
  height:27px;
  font-size:10px;
}
#u2147 {
  position:absolute;
  left:2px;
  top:6px;
  width:77px;
  word-wrap:break-word;
}
#u2148_div {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
}
#u2148 {
  position:absolute;
  left:530px;
  top:259px;
  width:86px;
  height:27px;
  font-size:10px;
}
#u2149 {
  position:absolute;
  left:2px;
  top:6px;
  width:82px;
  word-wrap:break-word;
}
#u2150_div {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
}
#u2150 {
  position:absolute;
  left:638px;
  top:259px;
  width:86px;
  height:27px;
  font-size:10px;
}
#u2151 {
  position:absolute;
  left:2px;
  top:6px;
  width:82px;
  word-wrap:break-word;
}
#u2152_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:10px;
}
#u2152 {
  position:absolute;
  left:428px;
  top:300px;
  width:81px;
  height:27px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:10px;
}
#u2153 {
  position:absolute;
  left:2px;
  top:6px;
  width:77px;
  word-wrap:break-word;
}
#u2154_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2154 {
  position:absolute;
  left:428px;
  top:229px;
  width:57px;
  height:20px;
}
#u2155 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u2156_div {
  position:absolute;
  left:0px;
  top:0px;
  width:322px;
  height:130px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2156 {
  position:absolute;
  left:414px;
  top:353px;
  width:322px;
  height:130px;
}
#u2157 {
  position:absolute;
  left:2px;
  top:57px;
  width:318px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2158_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
}
#u2158 {
  position:absolute;
  left:533px;
  top:399px;
  width:81px;
  height:27px;
  font-size:10px;
}
#u2159 {
  position:absolute;
  left:2px;
  top:8px;
  width:77px;
  word-wrap:break-word;
}
#u2160_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
}
#u2160 {
  position:absolute;
  left:641px;
  top:399px;
  width:81px;
  height:27px;
  font-size:10px;
}
#u2161 {
  position:absolute;
  left:2px;
  top:8px;
  width:77px;
  word-wrap:break-word;
}
#u2162_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:10px;
}
#u2162 {
  position:absolute;
  left:428px;
  top:440px;
  width:81px;
  height:27px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:10px;
}
#u2163 {
  position:absolute;
  left:2px;
  top:6px;
  width:77px;
  word-wrap:break-word;
}
#u2164_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2164 {
  position:absolute;
  left:428px;
  top:369px;
  width:43px;
  height:20px;
}
#u2165 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u2166_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:10px;
}
#u2166 {
  position:absolute;
  left:533px;
  top:440px;
  width:81px;
  height:27px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:10px;
}
#u2167 {
  position:absolute;
  left:2px;
  top:6px;
  width:77px;
  word-wrap:break-word;
}
#u2168_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:10px;
}
#u2168 {
  position:absolute;
  left:641px;
  top:440px;
  width:81px;
  height:27px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:10px;
}
#u2169 {
  position:absolute;
  left:2px;
  top:6px;
  width:77px;
  word-wrap:break-word;
}
#u2170_div {
  position:absolute;
  left:0px;
  top:0px;
  width:322px;
  height:130px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2170 {
  position:absolute;
  left:414px;
  top:492px;
  width:322px;
  height:130px;
}
#u2171 {
  position:absolute;
  left:2px;
  top:57px;
  width:318px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2172_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
}
#u2172 {
  position:absolute;
  left:533px;
  top:538px;
  width:81px;
  height:27px;
  font-size:10px;
}
#u2173 {
  position:absolute;
  left:2px;
  top:6px;
  width:77px;
  word-wrap:break-word;
}
#u2174_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
}
#u2174 {
  position:absolute;
  left:641px;
  top:538px;
  width:81px;
  height:27px;
  font-size:10px;
}
#u2175 {
  position:absolute;
  left:2px;
  top:6px;
  width:77px;
  word-wrap:break-word;
}
#u2176_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:10px;
}
#u2176 {
  position:absolute;
  left:428px;
  top:579px;
  width:81px;
  height:27px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:10px;
}
#u2177 {
  position:absolute;
  left:2px;
  top:6px;
  width:77px;
  word-wrap:break-word;
}
#u2178_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2178 {
  position:absolute;
  left:428px;
  top:508px;
  width:57px;
  height:20px;
}
#u2179 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u2180_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:10px;
}
#u2180 {
  position:absolute;
  left:533px;
  top:579px;
  width:81px;
  height:27px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:10px;
}
#u2181 {
  position:absolute;
  left:2px;
  top:6px;
  width:77px;
  word-wrap:break-word;
}
#u2182_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
}
#u2182 {
  position:absolute;
  left:428px;
  top:399px;
  width:81px;
  height:27px;
  font-size:10px;
}
#u2183 {
  position:absolute;
  left:2px;
  top:6px;
  width:77px;
  word-wrap:break-word;
}
#u2184_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
}
#u2184 {
  position:absolute;
  left:428px;
  top:538px;
  width:81px;
  height:27px;
  font-size:10px;
}
#u2185 {
  position:absolute;
  left:2px;
  top:6px;
  width:77px;
  word-wrap:break-word;
}
#u2186_div {
  position:absolute;
  left:0px;
  top:0px;
  width:322px;
  height:92px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2186 {
  position:absolute;
  left:414px;
  top:632px;
  width:322px;
  height:92px;
}
#u2187 {
  position:absolute;
  left:2px;
  top:38px;
  width:318px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2188_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
}
#u2188 {
  position:absolute;
  left:533px;
  top:678px;
  width:81px;
  height:27px;
  font-size:10px;
}
#u2189 {
  position:absolute;
  left:2px;
  top:6px;
  width:77px;
  word-wrap:break-word;
}
#u2190_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2190 {
  position:absolute;
  left:428px;
  top:648px;
  width:57px;
  height:20px;
}
#u2191 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u2192_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
}
#u2192 {
  position:absolute;
  left:428px;
  top:678px;
  width:81px;
  height:27px;
  font-size:10px;
}
#u2193 {
  position:absolute;
  left:2px;
  top:6px;
  width:77px;
  word-wrap:break-word;
}
#u2194_div {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:38px;
  background:inherit;
  background-color:rgba(51, 153, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(235, 235, 235, 1);
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#656565;
}
#u2194 {
  position:absolute;
  left:575px;
  top:682px;
  width:161px;
  height:38px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#656565;
}
#u2195 {
  position:absolute;
  left:18px;
  top:8px;
  width:125px;
  word-wrap:break-word;
}
#u2196_div {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(235, 235, 235, 1);
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#656565;
}
#u2196 {
  position:absolute;
  left:414px;
  top:682px;
  width:161px;
  height:38px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#656565;
}
#u2197 {
  position:absolute;
  left:18px;
  top:8px;
  width:125px;
  word-wrap:break-word;
}
