body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:759px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1941 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1942_img {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:709px;
}
#u1942 {
  position:absolute;
  left:398px;
  top:97px;
  width:361px;
  height:709px;
}
#u1943 {
  position:absolute;
  left:2px;
  top:346px;
  width:357px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1944_div {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:570px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1944 {
  position:absolute;
  left:415px;
  top:154px;
  width:321px;
  height:570px;
}
#u1945 {
  position:absolute;
  left:2px;
  top:277px;
  width:317px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1946_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u1946 {
  position:absolute;
  left:543px;
  top:54px;
  width:73px;
  height:25px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u1947 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u1948 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1949_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:55px;
}
#u1949 {
  position:absolute;
  left:415px;
  top:152px;
  width:321px;
  height:55px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u1950 {
  position:absolute;
  left:0px;
  top:30px;
  width:321px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1951_img {
  position:absolute;
  left:0px;
  top:0px;
  width:312px;
  height:12px;
}
#u1951 {
  position:absolute;
  left:420px;
  top:155px;
  width:312px;
  height:12px;
}
#u1952 {
  position:absolute;
  left:2px;
  top:-2px;
  width:308px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1953_img {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:20px;
}
#u1953 {
  position:absolute;
  left:424px;
  top:176px;
  width:11px;
  height:20px;
}
#u1954 {
  position:absolute;
  left:2px;
  top:2px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1955 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1956_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:150px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1956 {
  position:absolute;
  left:453px;
  top:174px;
  width:73px;
  height:24px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1957 {
  position:absolute;
  left:2px;
  top:3px;
  width:69px;
  word-wrap:break-word;
}
#u1958_img {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:6px;
}
#u1958 {
  position:absolute;
  left:506px;
  top:183px;
  width:11px;
  height:6px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u1959 {
  position:absolute;
  left:2px;
  top:-5px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1960_div {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u1960 {
  position:absolute;
  left:536px;
  top:178px;
  width:145px;
  height:17px;
  font-size:12px;
  color:#FFFFFF;
}
#u1961 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u1962_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1962 {
  position:absolute;
  left:700px;
  top:176px;
  width:29px;
  height:20px;
  color:#FFFFFF;
}
#u1963 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u1964_img {
  position:absolute;
  left:0px;
  top:0px;
  width:323px;
  height:518px;
}
#u1964 {
  position:absolute;
  left:415px;
  top:206px;
  width:323px;
  height:518px;
}
#u1965 {
  position:absolute;
  left:2px;
  top:251px;
  width:319px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1966 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1967 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1968_div {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:518px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1968 {
  position:absolute;
  left:415px;
  top:206px;
  width:321px;
  height:518px;
  opacity:0.6;
}
#u1969 {
  position:absolute;
  left:2px;
  top:251px;
  width:317px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1970 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1971_div {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:95px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(235, 235, 235, 1);
  border-left:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#989898;
}
#u1971 {
  position:absolute;
  left:415px;
  top:206px;
  width:321px;
  height:95px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#989898;
}
#u1972 {
  position:absolute;
  left:18px;
  top:11px;
  width:285px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1973_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#33CCFF;
}
#u1973 {
  position:absolute;
  left:443px;
  top:222px;
  width:29px;
  height:20px;
  color:#33CCFF;
}
#u1974 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u1975_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1975 {
  position:absolute;
  left:542px;
  top:222px;
  width:57px;
  height:20px;
}
#u1976 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1977_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1977 {
  position:absolute;
  left:664px;
  top:222px;
  width:57px;
  height:20px;
}
#u1978 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1979_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1979 {
  position:absolute;
  left:431px;
  top:263px;
  width:57px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1980 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1981_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1981 {
  position:absolute;
  left:542px;
  top:263px;
  width:57px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1982 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
