body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:761px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2341 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2342_img {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:709px;
}
#u2342 {
  position:absolute;
  left:400px;
  top:101px;
  width:361px;
  height:709px;
}
#u2343 {
  position:absolute;
  left:2px;
  top:346px;
  width:357px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2344_div {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:570px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2344 {
  position:absolute;
  left:417px;
  top:158px;
  width:321px;
  height:570px;
}
#u2345 {
  position:absolute;
  left:2px;
  top:277px;
  width:317px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2346_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u2346 {
  position:absolute;
  left:545px;
  top:58px;
  width:73px;
  height:25px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u2347 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u2348_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:570px;
}
#u2348 {
  position:absolute;
  left:417px;
  top:158px;
  width:320px;
  height:570px;
}
#u2349 {
  position:absolute;
  left:2px;
  top:277px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2350_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  color:#FFFFFF;
}
#u2350 {
  position:absolute;
  left:692px;
  top:182px;
  width:37px;
  height:25px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  color:#FFFFFF;
}
#u2351 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u2352_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:338px;
  background:inherit;
  background-color:rgba(249, 249, 249, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2352 {
  position:absolute;
  left:431px;
  top:319px;
  width:300px;
  height:338px;
}
#u2353 {
  position:absolute;
  left:2px;
  top:161px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2354_div {
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:32px;
  background:inherit;
  background-color:rgba(254, 68, 66, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u2354 {
  position:absolute;
  left:453px;
  top:175px;
  width:229px;
  height:32px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u2355 {
  position:absolute;
  left:2px;
  top:7px;
  width:225px;
  word-wrap:break-word;
}
#u2356_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:144px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2356 {
  position:absolute;
  left:417px;
  top:213px;
  width:320px;
  height:144px;
}
#u2357 {
  position:absolute;
  left:2px;
  top:64px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2358_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2358 {
  position:absolute;
  left:431px;
  top:225px;
  width:29px;
  height:20px;
}
#u2359 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u2360_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2360 {
  position:absolute;
  left:431px;
  top:273px;
  width:29px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2361 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u2362_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2362 {
  position:absolute;
  left:431px;
  top:322px;
  width:71px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2363 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u2364_img {
  position:absolute;
  left:0px;
  top:0px;
  width:307px;
  height:2px;
}
#u2364 {
  position:absolute;
  left:431px;
  top:258px;
  width:306px;
  height:1px;
}
#u2365 {
  position:absolute;
  left:2px;
  top:-8px;
  width:302px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2366_img {
  position:absolute;
  left:0px;
  top:0px;
  width:307px;
  height:2px;
}
#u2366 {
  position:absolute;
  left:431px;
  top:308px;
  width:306px;
  height:1px;
}
#u2367 {
  position:absolute;
  left:2px;
  top:-8px;
  width:302px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2368_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#BCBCBC;
}
#u2368 {
  position:absolute;
  left:509px;
  top:225px;
  width:71px;
  height:20px;
  color:#BCBCBC;
}
#u2369 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u2370_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#BCBCBC;
}
#u2370 {
  position:absolute;
  left:509px;
  top:273px;
  width:85px;
  height:20px;
  color:#BCBCBC;
}
#u2371 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u2372_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#BCBCBC;
}
#u2372 {
  position:absolute;
  left:509px;
  top:322px;
  width:113px;
  height:20px;
  color:#BCBCBC;
}
#u2373 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u2374_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2374 {
  position:absolute;
  left:696px;
  top:322px;
  width:29px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2375 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
