body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:759px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2667 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2668_img {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:709px;
}
#u2668 {
  position:absolute;
  left:398px;
  top:101px;
  width:361px;
  height:709px;
}
#u2669 {
  position:absolute;
  left:2px;
  top:346px;
  width:357px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2670_div {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:570px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2670 {
  position:absolute;
  left:415px;
  top:158px;
  width:321px;
  height:570px;
}
#u2671 {
  position:absolute;
  left:2px;
  top:277px;
  width:317px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2672_div {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u2672 {
  position:absolute;
  left:502px;
  top:65px;
  width:154px;
  height:25px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u2673 {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  white-space:nowrap;
}
#u2674_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:571px;
}
#u2674 {
  position:absolute;
  left:415px;
  top:158px;
  width:321px;
  height:571px;
}
#u2675 {
  position:absolute;
  left:2px;
  top:278px;
  width:317px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2676_div {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:515px;
  background:inherit;
  background-color:rgba(246, 246, 246, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2676 {
  position:absolute;
  left:412px;
  top:213px;
  width:321px;
  height:515px;
}
#u2677 {
  position:absolute;
  left:2px;
  top:250px;
  width:317px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2678_div {
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  height:39px;
  background:inherit;
  background-color:rgba(254, 68, 66, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u2678 {
  position:absolute;
  left:471px;
  top:174px;
  width:216px;
  height:39px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u2679 {
  position:absolute;
  left:2px;
  top:10px;
  width:212px;
  word-wrap:break-word;
}
#u2680_div {
  position:absolute;
  left:0px;
  top:0px;
  width:324px;
  height:515px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2680 {
  position:absolute;
  left:412px;
  top:213px;
  width:324px;
  height:515px;
}
#u2681 {
  position:absolute;
  left:2px;
  top:250px;
  width:320px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2682 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2683_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:11px;
}
#u2683 {
  position:absolute;
  left:573px;
  top:234px;
  width:12px;
  height:11px;
}
#u2684 {
  position:absolute;
  left:2px;
  top:-2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2685_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:11px;
}
#u2685 {
  position:absolute;
  left:595px;
  top:234px;
  width:12px;
  height:11px;
}
#u2686 {
  position:absolute;
  left:2px;
  top:-2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2687_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:11px;
}
#u2687 {
  position:absolute;
  left:551px;
  top:234px;
  width:12px;
  height:11px;
}
#u2688 {
  position:absolute;
  left:2px;
  top:-2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2689_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:11px;
}
#u2689 {
  position:absolute;
  left:573px;
  top:252px;
  width:12px;
  height:11px;
}
#u2690 {
  position:absolute;
  left:2px;
  top:-2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2691_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:11px;
}
#u2691 {
  position:absolute;
  left:595px;
  top:252px;
  width:12px;
  height:11px;
}
#u2692 {
  position:absolute;
  left:2px;
  top:-2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2693_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:11px;
}
#u2693 {
  position:absolute;
  left:551px;
  top:252px;
  width:12px;
  height:11px;
}
#u2694 {
  position:absolute;
  left:2px;
  top:-2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2695_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:11px;
}
#u2695 {
  position:absolute;
  left:573px;
  top:269px;
  width:12px;
  height:11px;
}
#u2696 {
  position:absolute;
  left:2px;
  top:-2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2697_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:11px;
}
#u2697 {
  position:absolute;
  left:595px;
  top:269px;
  width:12px;
  height:11px;
}
#u2698 {
  position:absolute;
  left:2px;
  top:-2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2699_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:11px;
}
#u2699 {
  position:absolute;
  left:551px;
  top:269px;
  width:12px;
  height:11px;
}
#u2700 {
  position:absolute;
  left:2px;
  top:-2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2701_div {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2701 {
  position:absolute;
  left:525px;
  top:290px;
  width:109px;
  height:25px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2702 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u2703_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2703 {
  position:absolute;
  left:537px;
  top:320px;
  width:85px;
  height:20px;
}
#u2704 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u2705 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2706_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:51px;
}
#u2706 {
  position:absolute;
  left:547px;
  top:372px;
  width:56px;
  height:51px;
}
#u2707 {
  position:absolute;
  left:2px;
  top:18px;
  width:52px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2708_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:51px;
}
#u2708 {
  position:absolute;
  left:650px;
  top:372px;
  width:56px;
  height:51px;
}
#u2709 {
  position:absolute;
  left:2px;
  top:18px;
  width:52px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2710_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:51px;
}
#u2710 {
  position:absolute;
  left:445px;
  top:372px;
  width:56px;
  height:51px;
}
#u2711 {
  position:absolute;
  left:2px;
  top:18px;
  width:52px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2712_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:51px;
}
#u2712 {
  position:absolute;
  left:547px;
  top:456px;
  width:56px;
  height:51px;
}
#u2713 {
  position:absolute;
  left:2px;
  top:18px;
  width:52px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2714_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:51px;
}
#u2714 {
  position:absolute;
  left:650px;
  top:456px;
  width:56px;
  height:51px;
}
#u2715 {
  position:absolute;
  left:2px;
  top:18px;
  width:52px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2716_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:51px;
}
#u2716 {
  position:absolute;
  left:445px;
  top:456px;
  width:56px;
  height:51px;
}
#u2717 {
  position:absolute;
  left:2px;
  top:18px;
  width:52px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2718_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:51px;
}
#u2718 {
  position:absolute;
  left:547px;
  top:535px;
  width:56px;
  height:51px;
}
#u2719 {
  position:absolute;
  left:2px;
  top:18px;
  width:52px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2720_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:51px;
}
#u2720 {
  position:absolute;
  left:650px;
  top:535px;
  width:56px;
  height:51px;
}
#u2721 {
  position:absolute;
  left:2px;
  top:18px;
  width:52px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2722_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:51px;
}
#u2722 {
  position:absolute;
  left:445px;
  top:535px;
  width:56px;
  height:51px;
}
#u2723 {
  position:absolute;
  left:2px;
  top:18px;
  width:52px;
  visibility:hidden;
  word-wrap:break-word;
}
